In [1]:
import pandas as pd
import numpy as np

In [2]:
HUES64_rep1_tfxn1_fs = ["../../../data/02__mpra/01__counts/07__HUES64_rep6_lib1_BARCODES.txt",
                        "../../../data/02__mpra/01__counts/07__HUES64_rep6_lib2_BARCODES.txt"]
HUES64_rep1_tfxn2_fs = ["../../../data/02__mpra/01__counts/08__HUES64_rep7_lib1_BARCODES.txt",
                        "../../../data/02__mpra/01__counts/08__HUES64_rep7_lib2_BARCODES.txt"]
HUES64_rep1_tfxn3_fs = ["../../../data/02__mpra/01__counts/09__HUES64_rep8_lib1_BARCODES.txt",
                        "../../../data/02__mpra/01__counts/09__HUES64_rep8_lib2_BARCODES.txt"]

In [3]:
HUES64_rep2_tfxn1_fs = ["../../../data/02__mpra/01__counts/10__HUES64_rep9_lib1_BARCODES.txt",
                        "../../../data/02__mpra/01__counts/10__HUES64_rep9_lib2_BARCODES.txt"]
HUES64_rep2_tfxn2_fs = ["../../../data/02__mpra/01__counts/11__HUES64_rep10_lib1_BARCODES.txt",
                        "../../../data/02__mpra/01__counts/11__HUES64_rep10_lib2_BARCODES.txt"]
HUES64_rep2_tfxn3_fs = ["../../../data/02__mpra/01__counts/12__HUES64_rep11_lib1_BARCODES.txt",
                        "../../../data/02__mpra/01__counts/12__HUES64_rep11_lib2_BARCODES.txt"]

In [4]:
HUES64_rep3_tfxn1_fs = ["../../../data/02__mpra/01__counts/16__HUES64_rep12_lib1_BARCODES.txt",
                        "../../../data/02__mpra/01__counts/16__HUES64_rep12_lib2_BARCODES.txt"]
HUES64_rep3_tfxn2_fs = ["../../../data/02__mpra/01__counts/17__HUES64_rep13_lib1_BARCODES.txt",
                        "../../../data/02__mpra/01__counts/17__HUES64_rep13_lib2_BARCODES.txt"]
HUES64_rep3_tfxn3_fs = ["../../../data/02__mpra/01__counts/18__HUES64_rep14_lib1_BARCODES.txt",
                        "../../../data/02__mpra/01__counts/18__HUES64_rep14_lib2_BARCODES.txt"]

In [5]:
mESC_rep1_tfxn1_fs = ["../../../data/02__mpra/01__counts/15__mESC_rep3_lib1_BARCODES.txt",
                      "../../../data/02__mpra/01__counts/15__mESC_rep3_lib2_BARCODES.txt"]

In [6]:
mESC_rep2_tfxn1_fs = ["../../../data/02__mpra/01__counts/19__mESC_rep4_lib1_BARCODES.txt",
                      "../../../data/02__mpra/01__counts/19__mESC_rep4_lib2_BARCODES.txt",
                      "../../../data/02__mpra/01__counts/19__mESC_rep4_lib3_BARCODES.txt"]

In [7]:
mESC_rep3_tfxn1_fs = ["../../../data/02__mpra/01__counts/20__mESC_rep5_lib1_BARCODES.txt",
                      "../../../data/02__mpra/01__counts/20__mESC_rep5_lib2_BARCODES.txt",
                      "../../../data/02__mpra/01__counts/20__mESC_rep5_lib3_BARCODES.txt"]

## 1. import, merge, sum

### HUES64 rep 1

In [8]:
for i, f in enumerate(HUES64_rep1_tfxn1_fs):
    if i == 0:
        HUES64_rep1_tfxn1 = pd.read_table(f, sep="\t")
        print(len(HUES64_rep1_tfxn1))
    else:
        tmp = pd.read_table(f, sep="\t")
        print(len(tmp))
        HUES64_rep1_tfxn1 = HUES64_rep1_tfxn1.merge(tmp, on="barcode")
HUES64_rep1_tfxn1["count"] = HUES64_rep1_tfxn1[["count_x", "count_y"]].sum(axis=1)
HUES64_rep1_tfxn1.drop(["count_x", "count_y"], axis=1, inplace=True)
HUES64_rep1_tfxn1.head()

239653
239653

       barcode  count
0  GCCATCGAATC    528
1  TAGCGCTGAAC     29
2  GGGAGTACATG      2
3  CATTGGCTTGT      1
4  GGTCGTCCGAC      0

In [9]:
for i, f in enumerate(HUES64_rep1_tfxn2_fs):
    if i == 0:
        HUES64_rep1_tfxn2 = pd.read_table(f, sep="\t")
        print(len(HUES64_rep1_tfxn2))
    else:
        tmp = pd.read_table(f, sep="\t")
        print(len(tmp))
        HUES64_rep1_tfxn2 = HUES64_rep1_tfxn2.merge(tmp, on="barcode")
HUES64_rep1_tfxn2["count"] = HUES64_rep1_tfxn2[["count_x", "count_y"]].sum(axis=1)
HUES64_rep1_tfxn2.drop(["count_x", "count_y"], axis=1, inplace=True)
HUES64_rep1_tfxn2.head()

239653
239653

       barcode  count
0  TATAACAAAAG    551
1  AGCCCGTGAAT    507
2  GGCGTACGAAA    190
3  GGTCGAGCGGG   1223
4  TTGTTTGCGAT   1940

In [10]:
for i, f in enumerate(HUES64_rep1_tfxn3_fs):
    if i == 0:
        HUES64_rep1_tfxn3 = pd.read_table(f, sep="\t")
        print(len(HUES64_rep1_tfxn3))
    else:
        tmp = pd.read_table(f, sep="\t")
        print(len(tmp))
        HUES64_rep1_tfxn3 = HUES64_rep1_tfxn3.merge(tmp, on="barcode")
HUES64_rep1_tfxn3["count"] = HUES64_rep1_tfxn3[["count_x", "count_y"]].sum(axis=1)
HUES64_rep1_tfxn3.drop(["count_x", "count_y"], axis=1, inplace=True)
HUES64_rep1_tfxn3.head()

239653
239653

       barcode  count
0  CCGTTACACGC     32
1  GATTGACGAAC      1
2  AGCCGATATGC      5
3  ATCGGGTGTAG     35
4  TGCGGGTGTAG      0

### HUES64 rep 2

In [11]:
for i, f in enumerate(HUES64_rep2_tfxn1_fs):
    if i == 0:
        HUES64_rep2_tfxn1 = pd.read_table(f, sep="\t")
        print(len(HUES64_rep2_tfxn1))
    else:
        tmp = pd.read_table(f, sep="\t")
        print(len(tmp))
        HUES64_rep2_tfxn1 = HUES64_rep2_tfxn1.merge(tmp, on="barcode")
HUES64_rep2_tfxn1["count"] = HUES64_rep2_tfxn1[["count_x", "count_y"]].sum(axis=1)
HUES64_rep2_tfxn1.drop(["count_x", "count_y"], axis=1, inplace=True)
HUES64_rep2_tfxn1.head()

239653
239653

       barcode  count
0  TATATCATGTT    950
1  CTAATCTTGAC      3
2  GATAAACTTAT      0
3  ATCACGGTAGA      2
4  GCGATCGTATG     33

In [12]:
for i, f in enumerate(HUES64_rep2_tfxn2_fs):
    if i == 0:
        HUES64_rep2_tfxn2 = pd.read_table(f, sep="\t")
        print(len(HUES64_rep2_tfxn2))
    else:
        tmp = pd.read_table(f, sep="\t")
        print(len(tmp))
        HUES64_rep2_tfxn2 = HUES64_rep2_tfxn2.merge(tmp, on="barcode")
HUES64_rep2_tfxn2["count"] = HUES64_rep2_tfxn2[["count_x", "count_y"]].sum(axis=1)
HUES64_rep2_tfxn2.drop(["count_x", "count_y"], axis=1, inplace=True)
HUES64_rep2_tfxn2.head()

239653
239653

       barcode  count
0  GGCTCTCGTAG     74
1  CGAATTCCTAG     21
2  CGGTCCGACGT      0
3  CGCGCTAAAGG    151
4  TGGATCGGTTA    794

In [13]:
for i, f in enumerate(HUES64_rep2_tfxn3_fs):
    if i == 0:
        HUES64_rep2_tfxn3 = pd.read_table(f, sep="\t")
        print(len(HUES64_rep2_tfxn3))
    else:
        tmp = pd.read_table(f, sep="\t")
        print(len(tmp))
        HUES64_rep2_tfxn3 = HUES64_rep2_tfxn3.merge(tmp, on="barcode")
HUES64_rep2_tfxn3["count"] = HUES64_rep2_tfxn3[["count_x", "count_y"]].sum(axis=1)
HUES64_rep2_tfxn3.drop(["count_x", "count_y"], axis=1, inplace=True)
HUES64_rep2_tfxn3.head()

239653
239653

       barcode  count
0  GTTACGAATTA     97
1  GATGGCGGTAG     97
2  GCCAACAAATA    884
3  GACCGTTAGAT    238
4  AAGTCAACGTA      1

### HUES64 rep 3

In [14]:
for i, f in enumerate(HUES64_rep3_tfxn1_fs):
    if i == 0:
        HUES64_rep3_tfxn1 = pd.read_table(f, sep="\t")
        print(len(HUES64_rep3_tfxn1))
    else:
        tmp = pd.read_table(f, sep="\t")
        print(len(tmp))
        HUES64_rep3_tfxn1 = HUES64_rep3_tfxn1.merge(tmp, on="barcode")
HUES64_rep3_tfxn1["count"] = HUES64_rep3_tfxn1[["count_x", "count_y"]].sum(axis=1)
HUES64_rep3_tfxn1.drop(["count_x", "count_y"], axis=1, inplace=True)
HUES64_rep3_tfxn1.head()

239653
239653

       barcode  count
0  CGGTATGGTGT    420
1  GATTCGTTAAT      0
2  TATCGACGAGC     35
3  CTAACTTAATG    176
4  CGAATGCGCTA     75

In [15]:
for i, f in enumerate(HUES64_rep3_tfxn2_fs):
    if i == 0:
        HUES64_rep3_tfxn2 = pd.read_table(f, sep="\t")
        print(len(HUES64_rep3_tfxn2))
    else:
        tmp = pd.read_table(f, sep="\t")
        print(len(tmp))
        HUES64_rep3_tfxn2 = HUES64_rep3_tfxn2.merge(tmp, on="barcode")
HUES64_rep3_tfxn2["count"] = HUES64_rep3_tfxn2[["count_x", "count_y"]].sum(axis=1)
HUES64_rep3_tfxn2.drop(["count_x", "count_y"], axis=1, inplace=True)
HUES64_rep3_tfxn2.head()

239653
239653

       barcode  count
0  GCGGACGCTTA    483
1  GTCTCTTAGTG    101
2  ACTCCGTGATC    249
3  TTTAGCGAACA      0
4  TTCGTAAGTAC    631

In [16]:
for i, f in enumerate(HUES64_rep3_tfxn3_fs):
    if i == 0:
        HUES64_rep3_tfxn3 = pd.read_table(f, sep="\t")
        print(len(HUES64_rep3_tfxn3))
    else:
        tmp = pd.read_table(f, sep="\t")
        print(len(tmp))
        HUES64_rep3_tfxn3 = HUES64_rep3_tfxn3.merge(tmp, on="barcode")
HUES64_rep3_tfxn3["count"] = HUES64_rep3_tfxn3[["count_x", "count_y"]].sum(axis=1)
HUES64_rep3_tfxn3.drop(["count_x", "count_y"], axis=1, inplace=True)
HUES64_rep3_tfxn3.head()

239653
239653

       barcode  count
0  TGTTGGTCAAG     88
1  CGCTTGTCGAT    270
2  AGCGATTTAAA      7
3  AGAAAAACGAT    281
4  CTTTTCATCGG    644

## mESC rep 1

In [17]:
for i, f in enumerate(mESC_rep1_tfxn1_fs):
    if i == 0:
        mESC_rep1_tfxn1 = pd.read_table(f, sep="\t")
        print(len(mESC_rep1_tfxn1))
    else:
        tmp = pd.read_table(f, sep="\t")
        print(len(tmp))
        mESC_rep1_tfxn1 = mESC_rep1_tfxn1.merge(tmp, on="barcode")
mESC_rep1_tfxn1["count"] = mESC_rep1_tfxn1[["count_x", "count_y"]].sum(axis=1)
mESC_rep1_tfxn1.drop(["count_x", "count_y"], axis=1, inplace=True)
mESC_rep1_tfxn1.head()

239653
239653

       barcode  count
0  TTCAATGCGGA   2065
1  ATCAACGACAC     86
2  ACCGACCATGG    234
3  TAGTCGTCTTG      2
4  TGACTACCGGC    163

## mESC rep 2

In [18]:
for i, f in enumerate(mESC_rep2_tfxn1_fs):
    if i == 0:
        mESC_rep2_tfxn1 = pd.read_table(f, sep="\t")
        print(len(mESC_rep2_tfxn1))
    else:
        tmp = pd.read_table(f, sep="\t")
        print(len(tmp))
        mESC_rep2_tfxn1 = mESC_rep2_tfxn1.merge(tmp, on="barcode")
mESC_rep2_tfxn1["count"] = mESC_rep2_tfxn1[["count_x", "count_y", "count"]].sum(axis=1)
mESC_rep2_tfxn1.drop(["count_x", "count_y"], axis=1, inplace=True)
mESC_rep2_tfxn1.head()

239653
239653
239653

       barcode  count
0  GTACGTATCTG    106
1  AGATTCTGGGC     26
2  TTTAACGACAG    202
3  GTGGACGATCA    193
4  ATTGCGTGGCG      0

## mESC rep 3

In [19]:
for i, f in enumerate(mESC_rep3_tfxn1_fs):
    if i == 0:
        mESC_rep3_tfxn1 = pd.read_table(f, sep="\t")
        print(len(mESC_rep3_tfxn1))
    else:
        tmp = pd.read_table(f, sep="\t")
        print(len(tmp))
        mESC_rep3_tfxn1 = mESC_rep3_tfxn1.merge(tmp, on="barcode")
mESC_rep3_tfxn1["count"] = mESC_rep3_tfxn1[["count_x", "count_y", "count"]].sum(axis=1)
mESC_rep3_tfxn1.drop(["count_x", "count_y"], axis=1, inplace=True)
mESC_rep3_tfxn1.head()

239653
239653
239653

       barcode  count
0  TGTACTTAGGA   4352
1  ATCGTGAATAA    379
2  ATTGCGTAGAG     32
3  GCGATCGGATG    208
4  CATTAAGGTGA    205

## 2. write files

In [20]:
HUES64_rep1_tfxn1.to_csv("../../../GEO_submission/MPRA__HUES64__rep1__tfxn1.BARCODES.txt", sep="\t", index=False)
HUES64_rep1_tfxn2.to_csv("../../../GEO_submission/MPRA__HUES64__rep1__tfxn2.BARCODES.txt", sep="\t", index=False)
HUES64_rep1_tfxn3.to_csv("../../../GEO_submission/MPRA__HUES64__rep1__tfxn3.BARCODES.txt", sep="\t", index=False)

In [21]:
HUES64_rep2_tfxn1.to_csv("../../../GEO_submission/MPRA__HUES64__rep2__tfxn1.BARCODES.txt", sep="\t", index=False)
HUES64_rep2_tfxn2.to_csv("../../../GEO_submission/MPRA__HUES64__rep2__tfxn2.BARCODES.txt", sep="\t", index=False)
HUES64_rep2_tfxn3.to_csv("../../../GEO_submission/MPRA__HUES64__rep2__tfxn3.BARCODES.txt", sep="\t", index=False)

In [22]:
HUES64_rep3_tfxn1.to_csv("../../../GEO_submission/MPRA__HUES64__rep3__tfxn1.BARCODES.txt", sep="\t", index=False)
HUES64_rep3_tfxn2.to_csv("../../../GEO_submission/MPRA__HUES64__rep3__tfxn2.BARCODES.txt", sep="\t", index=False)
HUES64_rep3_tfxn3.to_csv("../../../GEO_submission/MPRA__HUES64__rep3__tfxn3.BARCODES.txt", sep="\t", index=False)

In [23]:
mESC_rep1_tfxn1.to_csv("../../../GEO_submission/MPRA__mESC__rep1__tfxn1.BARCODES.txt", sep="\t", index=False)

In [24]:
mESC_rep2_tfxn1.to_csv("../../../GEO_submission/MPRA__mESC__rep2__tfxn1.BARCODES.txt", sep="\t", index=False)

In [25]:
mESC_rep3_tfxn1.to_csv("../../../GEO_submission/MPRA__mESC__rep3__tfxn1.BARCODES.txt", sep="\t", index=False)